@import url(//db.onlinewebfonts.com/c/1ba82d324736a8a9d4327d482c4627c4?family=Ebrima);

@font-face {
    font-family: "Ebrima";
    src: url("//db.onlinewebfonts.com/t/1ba82d324736a8a9d4327d482c4627c4.eot");
    src: url("//db.onlinewebfonts.com/t/1ba82d324736a8a9d4327d482c4627c4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1ba82d324736a8a9d4327d482c4627c4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1ba82d324736a8a9d4327d482c4627c4.woff") format("woff"), url("//db.onlinewebfonts.com/t/1ba82d324736a8a9d4327d482c4627c4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1ba82d324736a8a9d4327d482c4627c4.svg#Ebrima") format("svg");
}

* {
    margin: 0;
    font-family: Ebrima;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url('/assets/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 1600px;
    margin: auto;
}

.c-top {
    justify-content: space-between;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
}

.icon-logo {
    width: 200px;
}

.title-homeui {
    margin-right: 50px;
}

.title-homeui>a {
    font-size: 1em;
    text-decoration: none;
    color: #FFF;
    margin-right: 30px;
    border-bottom: rgba(255, 255, 255, 0) solid 1px;
}

.title-homeui>a:hover {
    border-bottom: rgb(255, 255, 255) solid 1px;
    transition: all 1.5s;
    color: rgb(247, 252, 0);
    text-shadow: 0 0 4px rgb(156, 155, 155);
}

.title-homeui {
    display: flex;
}

hr {
    border: 0;
    border-bottom: 1px solid #AAA;
}

.header-bottom {
    justify-content: center;
    height: 100%;
}

.header-box {
    cursor: default;
    transform: skew(160deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-text>h1 {
    font-size: 8em;
    color: #FFF;
    text-align: right;
    box-shadow: #FFF 2px 2px 1px;
    margin-block-start: -45px;
    margin-left: 109px;
    transform: translate3d(42px, 21px, 0) scale(0.96);

}

.header-text>h3 {
    font-size: 2em;
    color: #FFF;
}

.highlight-body {
    display: flex;
    background-color: #f7f8fa;
    margin-bottom: 50px;
}

.highlight-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.highlight-top>h1 {
    color: #143f69;
}

.highlight-top>h4 {
    color: #8b929b;
}
.botao{
    display: none;
}
.highlight-bottom {
    display: flex;
    --webkit-box-shadow: 2px 2px 15px 8px rgba(10, 10, 10, 0.2);
    box-shadow: 2px 2px 15px 8px rgba(10, 10, 10, 0.2);
}

.people-hightlight>img {
    height: 120px;
    width: 120px;
}

.people-hightlight {
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 25px 30px 30px 25px;
    text-align: center;
}

.people-hightlight:hover {
    --webkit-box-shadow: 2px 2px 15px 8px rgba(10, 10, 10, 0.2);
    box-shadow: 2px 2px 15px 8px rgba(10, 10, 10, 0.2);
    padding: 1% 2% 2% 2%;
    z-index: 1;
    transition: all 0.5s;
    margin: 0;
}

.name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #389def;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.locale {
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.commit {
    margin-bottom: 25px;
    color: rgb(138, 138, 138);
}

.people-hightlight>a {
    font-size: 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 30px;
}

.mid-bg {
    background-image: url('/assets/img/mid-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.mid-bg,
.mid-list,
.mid-list>ul,
.mid-list>ul>li {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}

.mid-list>ul>li>a {
    display: flex;
    text-decoration: none;
    color: #143f69;
    font-weight: bolder;
    font-size: 1.4em;
}

.mid-list>ul>li {
    margin-top: 64px;
    margin-left: 50px;
    width: 180px;
}

.mid-list>ul>li>a:hover {
    color: goldenrod;
}

.highlight-bottom-container,
.hightlight-mid-container {
    margin: 50px 0 50px 0;
}

.bottom-bg {
    background-image: url('/assets/img/bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: #FFF;
}

.highlight-footer-top {
    height: 200px;
    background-color: #1f65aa;
    width: 100%;
}

.highlight-footer-bottom {
    height: 100px;
    background-color: #143f69;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.icons-footer>div>a>img {
    height: 30px;
    width: 30px;
    padding: 3px;
}

.highlight-footer-development {
    color: #143f6981;
    align-items: center;
    background-color: #f1f1f19f;
    padding-top: 5px;
    padding-bottom: 5px;
}

small>a {
    color: rgba(0, 0, 0, 0.678);
    text-decoration: none;
}

small>a:hover {
    color: #000;
}













































@media screen and (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }

    .icon-logo {
        width: 180px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 900px;
    }

    .icon-logo {
        width: 180px;
    }

    .mid-bg {
        height: 410px;
    }

    .mid-list>ul>li {
        margin-top: 43px;
        margin-left: 50px;
        font-size: 0.8em;
    }

    .bottom-bg {
        height: 150px;
    }
}

@media screen and (max-width: 920px) {
    .header-text>h3 {
        font-size: 1.5em;
    }

    .header-text>h1 {
        font-size: 5em;
    }

    .container {
        max-width: 700px;
    }

    .icon-logo {
        width: 180px;
    }

    .mid-bg {
        height: 300px;
    }

    .mid-list>ul>li {
        margin-top: 35px;
        margin-left: 35px;
        font-size: 0.6em;
    }

    .bottom-bg {
        height: 100px;
    }


}

@media screen and (max-width: 720px) {
    .container {
        max-width: 500px;
    }

    .header-text>h3 {
        font-size: 1.3em;
    }

    .header-text>h1 {
        font-size: 5em;
    }

    .highlight-bottom {
        flex-direction: column;
    }

    .icon-logo {
        width: 100px;
    }

    .mid-bg {
        height: 210px;
    }

    .mid-list>ul>li {
        margin-top: 25px;
        margin-left: 15px;
        font-size: 0.45em;
    }

    .bottom-bg {
        height: 80px;
    }
}

@media screen and (max-width: 425px) {
    .botao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
    }
    button {
        border-radius: 50%;
        width: 10px;
        height: 15px;
        background-color: #ededed;
        margin: 5px;
    }
    button:nth-child(1) {
        background-color: #fab700;
    }
    .people-highlight-container:nth-child(1) {
        transition: all 1.5s;
    }

    .people-highlight-container:nth-child(2) {
        opacity: 0;
        transition: all 1.5s;
    }

    .people-highlight-container:nth-child(3) {
        opacity: 0;
        transition: all 1.5s;
    }

    .people-highlight-container:nth-child(4) {
        opacity: 0;
        justify-content: center;
        transition: all 1.5s;
    }

    .people-hightlight {
        margin: 25px 60px 30px 10px;
        position: absolute;
        width: 250px;
        left: 4rem;
    }

    .people-highlight-container {
        height: 430px;
    }
    #p1,#p2,#p3 {
        left: 0;        
        position: absolute;
    }

    .people-hightlight:hover {
        pointer-events: none;
    }

    header {
        height: 240px;
    }

    .c-top {
        display: none;
    }

    .highlight-bottom {
        flex-direction: row;
    }

    .container {
        max-width: 300px;
    }

    .icon-logo {
        width: 50px;
    }

    .header-text>h3 {
        font-size: 0.8em;
    }

    .header-text>h1 {
        font-size: 1.5em;
        margin-block-start: -25px;
    }

    .mid-bg {
        height: 130px;
    }

    .mid-list>ul>li {
        margin-top: 18px;
        margin-left: 0px;
        font-size: 0.3em;
    }

    .bottom-bg {
        height: 50px;
    }
}