<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//db.onlinewebfonts.com/c/1ba82d324736a8a9d4327d482c4627c4?family=Ebrima" rel="stylesheet"
        type="text/css" />
    <script src="../../assets/javascript/gscript.js" defer></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>MBS Imobiliaria</title>
</head>

<body>
    <div class="container-m">
        <input id="toggle" type="checkbox">
        <label class="toggle-container" for="toggle">
            <span class="button button-toggle"></span>
        </label>
        <!-- The Nav Menu -->
        <nav class="nav">
            <a class="nav-item" href="#">INICIO</a>
            <a class="nav-item" href="#highlight-body">CONTATO</a>
            <a class="nav-item" href="/galeria.html">GALERIA</a>
            <a class="nav-item" href="#highlight-footer-top">SOBRE</a>
        </nav>
    </div>
    <header>
        <div class="header d-none">
            <div class="container c-top">
                <div class="nav-left">
                    <a href="#" class="icon-menu">
                        <img src="../../assets/img/logo.png" class="icon-logo" alt="">
                    </a>
                </div>
                <div class="nav-right">
                    <div class="title-homeui">
                        <a href="#" class="tc-inicio">INICIO</a>
                        <a href="#highlight-body" class="tc-contatos">CONTATO</a>
                        <a href="/galeria.html" class="tc-clientes">GALERIA</a>
                        <a href="#highlight-footer-top" class="tc-sobre">SOBRE</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="header-bottom flex">
            <div class="header-box">
                <div class="header-text">
                    <H3>
                        SOMOS ESPECIALIZADOS EM REALIZAR
                    </H3>
                    <H1>
                        SONHOS
                        </H2>
                </div>
            </div>
        </div>
    </header>
</body>
<section class="mid-form">
    <div class="highlight-body">
        <div class="container">
            <div class="form-container">
                <div class="formulario">
                    <form action="" method="post">
                        <input type="text" name="" id="">
                        <input type="text" name="" id="">
                        <input type="text" name="" id="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="highlight-footer" id="highlight-footer-top">
        <div class="container flex f-column">
            <div class="highlight-footer-bottom flex">
                <div class="copyright">
                </div>
                <div class="mid-footer">
                    <a href="#" class="icon-menu">
                        <img src="../../assets/img/logo.png" class="icon-logo" alt="">
                    </a>
                </div>
                <div class="icons-footer flex">
                    <div><a href="#"><img
                                src="https://www.escoladomingossavio.com.br/wp-content/uploads/2015/12/logo-facebook.png"
                                alt="facebook"></a></div>
                    <div><a href="#"><img
                                src="https://www.spiner.com.br/wp-content/uploads/2019/02/midias-sociais-linkedin-icon.png"
                                alt="linkedin"></a></div>
                    <div><a href="#"><img
                                src="https://i.pinimg.com/originals/6b/d4/d4/6bd4d4b8a16a7ec07ee9b9df0300a983.png"
                                alt="instagram"></a></div>
                </div>
            </div>
            <div class="highlight-footer-development flex f-column">
                <small>site desenvolvido por <a href="http://instagram.com/codigoperfeito">@codigoperfeito</a></small>
            </div>
        </div>
    </div>
</footer>
<a id="whatsapp" href="https://wa.me/5521968309863?text=Adorei%20seu%20artigo" target="_blank">
    <i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>
</html>